head{
    font-size:22px;/*调整字体大小*/
}
body{
    background-color: #333;/*调整背景颜色*/
    color:whitesmoke;/*调整字体颜色*/
}

a{
    color:aliceblue;/*调整访问前链接颜色*/
}

a:visited{
    color:lightgray;/*调整访问后链接颜色*/
}

a:hover,a:active{
    color:#eee;/*调整鼠标悬停链接之上时链接的颜色*/
}

table, tr, th, td, caption {
    border: 1px solid #eee;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}/*这位老哥又为了好看，又用了一点点css（*/